<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="agendaepn.epn.edu.ec.agendaepn2015">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconos"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PrincipalActivity"
            android:label="Horario Diario"></activity>
        <activity
            android:name=".LectorQRActivity"
            android:label="Escanear Horario"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".AcercaDeActivity"
            android:label="Desarrolladores"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".VerTareasActivity"
            android:label="Ver Tareas"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".NuevaTareaActivity"
            android:label="Nueva Tarea"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".PresentacionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Presentacion"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Opciones"
            android:label="Opciones"
            android:parentActivityName=".PrincipalActivity"></activity>
    </application>

</manifest>
